<!-- <div class="col-sm-12">
    <h2 class="alert-success">Contact us</h2>
</div> -->
<div id="contactme">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>CONTACT</h1>
            </div>
            <!-- <div class="col-xl-6 col-md-6 col-12 text-center">
            <div class="col-md-6 col-12 text-center">
                <h5>EMAIL</h5>
                <p>rajatmudgil24@gmail.com</p>
            </div>
            <div class="col-md-6 col-12 text-center">
                <h5>PHONE</h5>
                <p>+919899446742</p>
            </div>
            </div> -->
            <div class="infolist1 col-xl-6 col-md-6 col-12 text-center ">
                <ul>
                    <li><a href="#"><i class="fab fa-whatsapp"></i>RAJAT - 9899446742</a></li>
                    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>+919899446742</a></li>
                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>rajatmudgil24@gmail.com</a></li>
                    <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i>https://rajatmudgil.github.io/portfolio</a></li>
                    <li><a href="#"><i class="fab fa-github"></i>https://github.com/rajatmudgil</a></li>
                    <li><a href="#"><i class="fab fa-twitter " aria-hidden="true"></i>https://twitter.com/rajatmudgil24</a></li>
                    <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i>https://plus.google.com/people</a></li>
                </ul>
            </div>
            <div class="col-xl-6 col-md-6 col-12 text-center">
                    <iframe src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Sector%2011%20%2CRohini%20%2CNew%20Delhi+(Rajat)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>